<div class="container main-container">
    <h1 translate>Referenzen</h1>
    <p>
        {{ 'OpenSlides war bereits auf zahlreichen Veranstaltungen erfolgreich im Einsatz. Hier eine Auswahl an Referenzen.' | translate }}
    </p>
    <div *ngFor="let cat of refService.references">
        <h2>{{ cat.name | translate }}</h2>
        <div fxLayout="row wrap" appWrappable wrapMarginX="15px">
            <app-reference-container *ngFor="let ref of cat.refs" [ref]="ref"></app-reference-container>
        </div>
    </div>
</div>