<div class="container main-container">
    <h1 translate>References</h1>
    <p translate>
        OpenSlides was already used successfully on a multitude of different events. Here is a selection of references. We would be happy to also list you organisation here.
    </p>
    <div *ngFor="let cat of refService.references">
        <h2>{{ cat.name | translate }}</h2>
        <div fxLayout="row wrap" appWrappable wrapMarginX="15px">
            <app-reference-container *ngFor="let ref of cat.refs" [ref]="ref"></app-reference-container>
        </div>
    </div>
</div>