@import '../../../vars.scss';

[mat-menu-item] {
    text-transform: uppercase;
    width: auto;
}

.login-btn {
    background-color: $os-active-blue;
    color: #fff;
    border-radius: 4px;
    padding: 0px 16px;
    margin: 4px 5px;
    height: 40px;
    line-height: 40px;

    &:hover {
        background-color: $os-active-blue-darken;
    }
}

.active {
    color: $os-active-blue;
}
