<a  mat-menu-item routerLink="./pricing"
    [ngClass]="router.url.endsWith('/pricing') ? 'active' : ''">
    <span translate>Preise</span>
</a>
<a  mat-menu-item routerLink="/" fragment="features"
    [ngClass]="currentSection == 'features' ? 'active' : ''">
    <span translate>Funktionen</span>
</a>
<a  mat-menu-item routerLink="/" fragment="getting-started"
    [ngClass]="currentSection == 'getting-started' ? 'active' : ''">
    <span translate>Starten</span>
</a>
<a  mat-menu-item routerLink="/" fragment="references"
    [ngClass]="currentSection == 'references' ? 'active' : ''">
    <span translate>Referenzen</span>
</a>
<a  mat-menu-item routerLink="/" fragment="news"
    [ngClass]="currentSection == 'news' ? 'active' : ''">
    <span translate>News</span>
</a>
<a  mat-menu-item routerLink="/" fragment="contact"
    [ngClass]="currentSection == 'contact' ? 'active' : ''">
    <span translate>Kontakt</span>
</a>
<a mat-menu-item [matMenuTriggerFor]="languageMenu" class="valign-wrapper">
    <img class="flag" [src]="'assets/img/flags/' + languageService.getCurrentLanguage() + '.png'" [alt]="'flag-' + languageService.getCurrentLanguage()">
</a>

<mat-menu xPosition="before" #languageMenu="matMenu" id="language-menu">
    <a *ngFor="let language of languageService.getLanguages()" mat-menu-item (click)="languageService.setCurrentLanguage(language.code)" class="valign-wrapper">
        <img class="flag" [src]="'assets/img/flags/' + language.code + '.png'" [alt]="'flag-' + language.code">
        <span>{{ language.name }}</span>
        <mat-icon class="no-margin pull-right" *ngIf="language.code == languageService.getCurrentLanguage()">check</mat-icon>
    </a>
</mat-menu>
