<a  mat-menu-item routerLink="/prices" translate
    [ngClass]="router.url.endsWith('/prices') ? 'active' : ''">
    Pricing
</a>
<a  mat-menu-item routerLink="/" fragment="anchor-features" translate
    [ngClass]="currentSection == 'anchor-features' ? 'active' : ''">
    Features
</a>
<a  mat-menu-item routerLink="/" fragment="anchor-getting-started" translate
    [ngClass]="currentSection == 'anchor-getting-started' ? 'active' : ''">
    Start
</a>
<a  mat-menu-item routerLink="/" fragment="anchor-references" translate
    [ngClass]="currentSection == 'anchor-references' ? 'active' : ''">
    References
</a>
<a  mat-menu-item routerLink="/" fragment="anchor-news" translate
    [ngClass]="currentSection == 'anchor-news' ? 'active' : ''">
    News
</a>
<a  mat-menu-item routerLink="/" fragment="anchor-contact" translate
    [ngClass]="currentSection == 'anchor-contact' ? 'active' : ''">
    Contact
</a>
<!--<a mat-menu-item class="login-btn" routerLink="/login">Anmelden</a>-->
<!-- <a mat-menu-item class="login-btn" routerLink="/login" [ngClass]="router.url.endsWith('/login') ? 'active' : ''">Anmelden</a> -->
