<a  mat-menu-item routerLink="/prices"
    [ngClass]="router.url.endsWith('/prices') ? 'active' : ''">
    <span translate>Pricing</span>
</a>
<a  mat-menu-item routerLink="/" fragment="anchor-features"
    [ngClass]="currentSection == 'anchor-features' ? 'active' : ''">
    <span translate>Features</span>
</a>
<a  mat-menu-item routerLink="/" fragment="anchor-getting-started"
    [ngClass]="currentSection == 'anchor-getting-started' ? 'active' : ''">
    <span translate>Start</span>
</a>
<a  mat-menu-item routerLink="/" fragment="anchor-references"
    [ngClass]="currentSection == 'anchor-references' ? 'active' : ''">
    <span translate>References</span>
</a>
<a  mat-menu-item routerLink="/" fragment="anchor-news"
    [ngClass]="currentSection == 'anchor-news' ? 'active' : ''">
    <span translate>News</span>
</a>
<a  mat-menu-item routerLink="/" fragment="anchor-contact"
    [ngClass]="currentSection == 'anchor-contact' ? 'active' : ''">
    <span translate>Contact</span>
</a>
<!--<a mat-menu-item class="login-btn" routerLink="/login">Anmelden</a>-->
<!-- <a mat-menu-item class="login-btn" routerLink="/login" [ngClass]="router.url.endsWith('/login') ? 'active' : ''">Anmelden</a> -->
