@import '../../../vars.scss';

.mat-menu-item,
.mat-menu-item.mat-menu-item-submenu-trigger {
    text-transform: uppercase;
    width: auto;
}

.login-btn {
    background-color: $os-active-blue;
    color: #fff;
    border-radius: 4px;
    padding: 0px 16px;
    margin: 4px 5px;
    height: 40px;
    line-height: 40px;

    &:hover {
        background-color: $os-active-blue-darken;
    }
}

.active {
    color: $os-active-blue;
}

.mat-menu-item-submenu-trigger {
    width: 100%;

    &::after {
        display: none;
    }
}

img.flag {
    width: 30px;
    height: 20px;
    border: 0.4px solid rgba(0, 0, 0, 0.2);

    & + span {
        margin-left: 7px;
        margin-right: 12px;
    }
}
