_{{ _("Hostingauswahl") }}
{{ _("Hostingpaket") }}: {{ package_str }}
{{ _("Hostinglaufzeit") }}: {{ running_time_str }}
{{ _("Wunschdomain") }}: {% if domain %}https://{{ domain }}.openslides.com/{% else %}-{% endif %}
{% if hosting_start %}{{ _("Startdatum Hosting") }}: {{ hosting_start }}
{% endif %}{{ _("Zusatzfunktionen") }}: {% if extra_functions_str %}{{ extra_functions_str }}{% else %}{{ _("keine") }}{% endif %}

_{{ _("Veranstaltungsdetails") }}
{{ _("Veranstaltungsname") }}: {{ event_name }}
{{ _("Veranstaltungsort") }}: {{ event_location }}
{{ _("Veranstaltungstage(e)") }}: {{ event_from }} - {{ event_to }}
{{ _("Erwartete Teilnehmeranzahl") }}: {{ expected_users }}

_{{ _("Ansprechpartner") }}
{{ _("Veranstalter") }}: {{ organisation }}
{{ _("Name") }}: {{ name }}
{{ _("E-Mail") }}: {{ email }}
{{ _("Telefon") }}: {{ phone }}
{% if services_str %}
_{{ _("Services") }}
{{ services_str }}
{% endif %}{% if billing_address %}
_{{ _("Rechnungsadresse") }}
{% if billing_address["name"] %}{{ billing_address["name"] }}
{% endif %}{% if billing_address["extra"] %}{{ billing_address["extra"] }}
{% endif %}{% if billing_address["street"] %}{{ billing_address["street"] }}
{% endif %}{% if billing_address["zip"] %}{{ billing_address["zip"] }} {% endif %}{% if billing_address["city"] %}{{ billing_address["city"] }}
{% endif %}{% if billing_address["country"] %}{{ billing_address["country"] }}{% endif %}{% endif %}

{% if tax_id %}{{ _("Umsatzsteuer-ID") }}: {{ tax_id }}
{% endif %}
_{{ _("Weitere Anmerkungen") }}
{{ comment }}
