<div class="container main-container">
    <h1 translate>Contact</h1>
    <div fxLayout="row wrap" appWrappable wrapMargin="2.5%">
        <div fxFlex.gt-sm="46">
            <h3 class="icon-wrapper">
                <mat-icon>email</mat-icon>
                <span translate>Newsletter</span>
            </h3>
            <p>
                <a routerLink="/" fragment="anchor-newsletter" translate>Here</a>
                <span translate>you can register for our newsletter.</span>
            </p>
            
            <h3 class="icon-wrapper"><img class="icon" src="assets/img/logos/github.png" alt="GitHub"> GitHub</h3>
            <p>
                <span translate>Get the source code, report problems or read the wiki on</span>
                <a href="https://github.com/OpenSlides/OpenSlides" target="_blank">GitHub</a>.
            </p>
            <h3 class="icon-wrapper"><mat-icon>translate</mat-icon> Transifex</h3>
            <p>
                <span translate>Help us to translate the UI or this website via</span>
                <a href="https://www.transifex.com/openslides/openslides/" target="_blank">Transifex</a>.
            </p>
        </div>
        <div fxFlex.gt-sm="46">
            <h3 class="icon-wrapper">
                <mat-icon>group</mat-icon>
                <span translate>Core development team</span>
            </h3>
            <p>
                <span translate>Contact the three founders and core developers of OpenSlides:</span> Oskar Hahn, Norman Jäckel <span translate>and</span> Emanuel Schütze.<br>
                <a class="icon-wrapper" href="mailto:support@openslides.org"><mat-icon>email</mat-icon> support@openslides.org</a>
            </p>
            <br>
            <h3 class="icon-wrapper">
                <mat-icon>business</mat-icon>
                <span translate>Professional support</span>
            </h3>
            <p>
                <span translate>You need adjustments or support to use OpenSlides? Take a look at our</span> <a routerLink="/prices" translate>Hosting-Angebote</a> <span translate>or ask our contact person:</span>
            </p>
            <b>Emanuel Schütze</b><br>
            Intevation GmbH<br>
            Neuer Graben 17<br>
            D-49074 Osnabrück<br>
            <a href="mailto:emanuel.schuetze@intevation.de" class="icon-wrapper">
                <mat-icon>email</mat-icon>
                <span>emanuel.schuetze@intevation.de</span>
            </a>
            <a href="callto:+49541335083746" class="icon-wrapper">
                <mat-icon>phone</mat-icon>
                <span>+49-541-335083-746</span>
            </a>
        </div>
</div>