<div class="container main-container">
    <h1>Kontakt</h1>
    <div fxLayout="row wrap" appWrappable wrapMargin="2.5%">
        <div fxFlex.gt-sm="46">
            <h3 class="icon-wrapper"><mat-icon>email</mat-icon> Newsletter</h3>
            <p>
                <a routerLink="/" fragment="anchor-newsletter">Hier</a> können Sie sich für unsere Newsletter anmelden.
            </p>
            <h3 class="icon-wrapper"><img class="icon" src="assets/img/logos/twitter.png" alt="Twitter"> Twitter</h3>
            <p>
                Twittern Sie Ihre OpenSlides-Erfahrung und erwähnen Sie
                <a href="https://twitter.com/openslides" target="_blank">@openslides</a>.
            </p>
            <h3 class="icon-wrapper"><img class="icon" src="assets/img/logos/github.png" alt="GitHub"> GitHub</h3>
            <p>
                Quellcode bekommen, Probleme berichten oder Wikiseiten lesen auf
                <a href="https://github.com/OpenSlides/OpenSlides" target="_blank">GitHub</a>.
            </p>
            <h3 class="icon-wrapper"><mat-icon>translate</mat-icon> Transifex</h3>
            <p>
                Hilf uns beim Übersetzen der UI oder der Website von OpenSlides über
                <a href="https://www.transifex.com/openslides/openslides/" target="_blank">Transifex</a>.
            </p>
        </div>
        <div fxFlex.gt-sm="46">
            <h3 class="icon-wrapper"><mat-icon>group</mat-icon> Kernentwicklerteam</h3>
            <p>
                Kontaktieren Sie die drei Gründer und Kernentwickler von OpenSlides: Oskar Hahn, Norman Jäckel und Emanuel Schütze.<br>
                <a class="icon-wrapper" href="mailto:support@openslides.org"><mat-icon>email</mat-icon> support@openslides.org</a>
            </p>
            <br>
            <h3 class="icon-wrapper"><mat-icon>business</mat-icon> Professionelle Unterstützung</h3>
            <p>
                Sie benötigen Anpassungen und Unterstützung für den Einsatz von OpenSlides? Schauen Sie sich unsere <a routerLink="/prices">Hosting-Angebote</a> an oder fragen Sie unsere Kontaktperson:
            </p>
            <b>Emanuel Schütze</b><br>
            Intevation GmbH<br>
            Neuer Graben 17<br>
            D-49074 Osnabrück<br>
            <a href="mailto:emanuel.schuetze@intevation.de" class="icon-wrapper">
                <mat-icon>email</mat-icon>
                <span>emanuel.schuetze@intevation.de</span>
            </a>
            <a href="callto:+49541335083746" class="icon-wrapper">
                <mat-icon>phone</mat-icon>
                <span>+49-541-335083-746</span>
            </a>
        </div>
</div>