<div appScrollSpy>

<!-- Welcome -->
<div class="full-width-img-wrapper flex col" style="height: 728px">
    <img class="full-width-img" src="assets/img/dgb-bundeskongress2018-mit-openslides-leinwand.jpg">
    <div class="fill-remaining-space valign-wrapper main-paragraph flex col text-center">
        <div class="container">
            <h1>Managen Sie Ver&shy;samm&shy;lungen digital</h1>
            <p>
                OpenSlides ist die umfassende Lösung zur digitalen Organisation Ihrer Tagungen und Konferenzen.
                Verwalten und projizieren Sie mit unserem webbasierten Versammlungssystem
                Tagesordnungen, Anträge, Wahlen, Dokumente, Redelisten und Teilnehmende &ndash; übersichtlich,
                zeitgemäß und immer auf dem neuesten Stand.
            </p>
            <a href="https://demo.openslides.org/login/" target="_blank" mat-flat-button class="os-button" id="test-now-btn">Jetzt kostenlos testen</a>
        </div>
    </div>
    <!-- <div class="in-media container">
        <div fxLayout="row" fxLayoutGap="12px">
            <mat-divider class="fill-remaining-space"></mat-divider>
            <span>OpenSlides in den Medien</span>
            <mat-divider class="fill-remaining-space"></mat-divider>
        </div>
        <div class="media-logos text-center">--- Hier Logos einfügen ---</div>
    </div> -->
</div>

<!-- What is OpenSlides -->
<div class="container smaller section text-center" id="anchor-transparency">
    <h1>Maximale Flexibilität und Trans&shy;parenz</h1>
    <p>
        Schaffen Sie die Voraussetzungen für eine offene Kommunikation, ohne das Ziel aus den Augen zu verlieren.
        OpenSlides gibt Ihnen dafür ein modernes und mächtiges Werkzeug an die Hand. Erweitern Sie Ihre
        Tagungsordnung live, reagieren Sie auf Antragsänderungen in Echtzeit und geben Sie Ihren
        Delegierten kontrollierten Zugriff auf das System.
    </p>
    <div class="mt-1">&nbsp;</div>
    <div class="iframe-wrapper-wrapper">
        <div class="iframe-wrapper">
            <iframe src="https://www.youtube-nocookie.com/embed/SvZ8N2SEzEg" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="mt-2 flex evenly-spaced wrap-mobile denser-paragraphs" appWrappable>
        <div>
            <div class="icon-as-img-md os-blue">
                <mat-icon>touch_app</mat-icon>
            </div>
            <h2 class="os-blue">Vereinfachte Interaktion</h2>
            <p>
                Beziehen Sie das Plenum aktiv mit ein. Öffnen Sie den mobilen Zugriff auf OpenSlides &ndash; zur
                Einsicht wichtiger Dokumente, zum Einreichen von Anträgen oder Abrufen von Wahlergebnissen etc.
            </p>
        </div>
        <div>
            <div class="icon-as-img-md os-blue">
                <mat-icon>alarm</mat-icon>
            </div>
            <h2 class="os-blue">Schnellere Ergebnisse</h2>
            <p>
                Beschleunigen Sie Prozesse durch eine nahtlose Steuerung mit nur einer Software. OpenSlides
                strafft das Verfahren &ndash; von der Vorbereitung über Anträge und Wahlen bis zum Beschlussprotokoll.
            </p>
        </div>
        <div>
            <div class="icon-as-img-md os-blue">
                <mat-icon>important_devices</mat-icon>
            </div>
            <h2 class="os-blue">Weniger Papier</h2>
            <p>
                Machen Sie OpenSlides zu Ihrer zentralen Schnittstelle für die Verwaltung und Veröffentlichung
                aller relevanten Versammlungsinhalte auf Leinwand, Notebook oder Smartphone.
            </p>
        </div>
    </div>
</div>

<!-- Features -->
<div class="container section center-mobile" id="anchor-features">
    <div class="flex evenly-spaced wrap-mobile" appWrappable wrapMargin="50px">
        <div class="switch-flex-order">
            <h1>Tages&shy;ordnung</h1>
            <p>
                Ergänzen, ändern oder verschieben Sie automatisch nummerierte Tagesordnungspunkte per Drag & Drop im
                laufenden Betrieb. Verknüpfen Sie die einzelnen Punkte mit Redelisten sowie Redezeiten und
                integrieren Sie für eine bessere Zeitplanung auch inoffizielle Einträge wie Pausen.
            </p>
            <a routerLink="/feature/agenda" mat-flat-button class="os-button">Mehr erfahren</a>
        </div>
        <div class="switch-flex-order">
            <img class="screenshot" src="assets/img/features/agenda-list_de.png">
        </div>
    </div>
</div>
<div class="section blue-upwards flex center-mobile">
    <div class="container">
        <div class="flex evenly-spaced wrap-mobile" appWrappable wrapMargin="50px">
            <div>
                <img class="screenshot" src="assets/img/features/agenda-list_de.png">
            </div>
            <div>
                <h1>Anträge</h1>
                <p>
                    Erfassen Sie Anträge mit Antragsteller und Antragstext. Ordnen Sie Sachgebiete und Antragsnummer zu.
                    Protokollieren Sie Beschluss und Abstimmungsergebnis während der Antragsberatung.
                    Die flexible Filterung der Liste hilft bei der Suche in allen Anträgen und ihren Änderungen.
                </p>
                <a routerLink="/feature/motions" mat-flat-button class="os-button">Mehr erfahren</a>
            </div>
        </div>
    </div>
</div>
<div class="container section center-mobile">
    <div class="flex evenly-spaced wrap-mobile" appWrappable wrapMargin="50px">
        <div class="switch-flex-order">
            <h1>Wahlen</h1>
            <p>
                Schlagen Sie Kandidat/innen aus der Liste der Teilnehmenden vor. Generieren Sie ad-hoc personalisierte
                Stimmzettel für geheime Wahlen. Protokollieren und projizieren Sie die ausgezählten Stimmen
                – für jeden Teilnehmenden nachzulesen in OpenSlides.
            </p>
            <a routerLink="/feature/elections" mat-flat-button class="os-button">Mehr erfahren</a>
        </div>
        <div class="switch-flex-order">
            <img class="screenshot" src="assets/img/features/agenda-list_de.png">
        </div>
    </div>
</div>
<div class="section blue-upwards flex center-mobile">
    <div class="container">
        <div class="flex evenly-spaced wrap-mobile" appWrappable wrapMargin="50px">
            <div>
                <img class="screenshot" src="assets/img/features/agenda-list_de.png">
            </div>
            <div>
                <h1>Projek&shy;toren</h1>
                <p>
                    OpenSlides ist für die Arbeit mit multiplen Bildschirmen konzipiert und mit einer mächtigen
                    Projektorsteuerung versehen. Das Webinterface erlaubt das Projizieren und Bearbeitung der Folien, während die
                    Projektoren in Vollbild laufen.
                </p>
                <a routerLink="/feature/projectors" mat-flat-button class="os-button">Mehr erfahren</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-center">
        <img style="width: 75%;" src="assets/img/responsive-design.png">
        <tbd>TODO: Mockup mit Desktop/Tablet/Mobil-Ansicht</tbd>
    </div>
</div>
<div class="section container tiny text-center" id="puzzle-container">
    <h1>Vielseitig und responsiv</h1>
    <p>
        Die Verwaltung der Delegierten und ihrer Anwesenheit sowie das
        ausgefeilte Rechtemanagement sind unkompliziert und intuitiv. Jeder Bereich von OpenSlides kann für
        einzelne Nutzergruppen freigeschalten werden.
    </p>
    <p>
        Egal ob Dateiablage oder Kommentarfunktion &ndash; OpenSlides ist mit einer Vielzahl
        praxistauglicher Detailswerkzeuge ausgestattet. Darüber hinaus entwickeln wir für Kunden auch maßgeschneiderte
        Lösungen.
    </p>
    <a routerLink="/feature/miscellaneous" mat-flat-button class="os-button">Weitere Funktionen</a>
</div>


<!-- Hosting / Professional Services -->
<div class="blue-container center-mobile">
    <div class="container white-links">
        <div class="wrap-mobile" fxLayout="row" appWrappable>
            <div class="icon-as-img-sm mr-0">
                <mat-icon>cloud</mat-icon>
            </div>
            <div>
                <h1>Hosting</h1>
                <p>
                    Sie wollen OpenSlides für ihre nächste Veranstaltung nutzen, aber sich nicht um die
                    technischen Details kümmern? Bestellen Sie jetzt ein passendes Hosting-Paket!
                </p>
                <a routerLink="/prices" mat-flat-button class="os-button white-black">
                    <mat-icon class="mr-0">shopping_cart</mat-icon>
                    Hosting-Paket auswählen</a>
            </div>
        </div> 
    </div>

    <div class="container white-links mt-1">
            <div class="wrap-mobile" fxLayout="row" appWrappable>
                <div class="icon-as-img-sm mr-0">
                    <mat-icon>room_service</mat-icon>
                </div>
                <div>
                    <h1>Individuelle Servicedienst&shy;leistungen</h1>
                    <p>
                        Sie benötigen individuellen Support vor Ort und professionelle Beratung vom OpenSlides-Entwickerteam?
                        Ihnen fehlen Funktionen oder haben Anpassungsbedarf?
                        Vereinbaren Sie eine kostenfreie Erstberatung! Unsere kostenpflichtigen Serviceleistungen: 
                    </p>
                    <mat-list class="mb-0 no-padding">
                        <mat-list-item><mat-icon matListIcon>arrow_right</mat-icon>Programmvorstellung und Beratung</mat-list-item>
                        <mat-list-item><mat-icon matListIcon>arrow_right</mat-icon>Schulung</mat-list-item>
                        <mat-list-item><mat-icon matListIcon>arrow_right</mat-icon>Vor-Ort-Service</mat-list-item>
                        <mat-list-item><mat-icon matListIcon>arrow_right</mat-icon>Technischen Support</mat-list-item>
                        <mat-list-item><mat-icon matListIcon>arrow_right</mat-icon>Telefonrufbereitschaft</mat-list-item>
                        <mat-list-item><mat-icon matListIcon>arrow_right</mat-icon>Weiterentwicklung und individuelle Anpassungen</mat-list-item>
                    </mat-list>
                    <a routerLink="/" fragment="anchor-contact" mat-flat-button class="os-button white-black">
                        <mat-icon class="mr-0">person</mat-icon>
                        <span>Kontaktieren Sie uns</span>
                    </a>                
                </div>
            </div> 
        </div>

</div>

<!-- References -->
<div class="container section text-center" id="anchor-references">
    <div fxLayout="row wrap" class="flex text-center" appWrappable wrapMarginX="15px">
        <app-reference-container *ngFor="let ref of refService.frontpageRefs" [ref]="ref"></app-reference-container>
    </div>
    <div class="mt-1 mb-2">
        <a routerLink="/references" mat-flat-button class="os-button">Weitere Referenzen</a>
    </div>

    <slideshow class="quote-slideshow"
            minHeight="500px"
            [autoPlay]="true"
            autoPlayInterval="10000"
            [imageUrls]="quotes"
            captionBackground="transparent"
            captionColor="#000">
    </slideshow>
</div>

<!-- Open Source / selfhosted -->
<div class="blue-container center-mobile">
    <div class="container white-links">
        <div class="wrap-mobile" fxLayout="row" appWrappable>
            <div class="icon-as-img-sm mr-0">
                <mat-icon>cloud</mat-icon>
            </div>
            <div>
                <h1>Open Source</h1>
                <p>
                    Wir haben uns zu den Grundsätzen eines quelloffenen, freien und kostenlosen Austauschs unserer
                    Software verpflichtet und tragen diesen Anspruch auch im Namen. OpenSlides wird unter MIT-Lizenz
                    zur Verfügung gestellt. Hilf mit, den Quellcode zu verbreiten und weiter zu verbessern.
                </p>
                <a href="https://github.com/OpenSlides/OpenSlides" mat-flat-button class="os-button github-button">
                    <img class="inline-logo" src="assets/img/logos/github.png">
                    <span>GitHub</span>
                </a>
                <a href="https://www.transifex.com/openslides/openslides/" mat-flat-button class="os-button white-black">
                    <mat-icon class="mr-0">language</mat-icon>
                    <span>Transifex</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container white-links mt-1">
        <div class="wrap-mobile" fxLayout="row" appWrappable>
            <div class="icon-as-img-sm mr-0">
                <mat-icon>build</mat-icon>
            </div>
            <div>
                <h1>Selfhosted</h1>
                <p>
                    Sie wollen OpenSlides auf ihrem eigenen Server hosten? Wir bieten unsere Software als PyPI-Paket und als Quellcode-Download an.
                    Beachten Sie, dass wir unseren Technischen Support nur für unsere <a routerLink="/prices">Hosting-Lösungen</a> anbieten können.
                    <br>
                    <a href="https://github.com/OpenSlides/OpenSlides/blob/master/README.rst#installation" target="_blank">Zur Installationsanleitung</a>
                </p>
                <a href="https://pypi.org/project/openslides/" target="_blank" mat-flat-button class="os-button white-black">
                    <mat-icon class="mr-0">all_inbox</mat-icon>
                    <span>PyPI</span>
                </a>
                <a href="https://files.openslides.org/releases/2.3/openslides-2.3.tar.gz" target="_blank" mat-flat-button class="os-button white-black ml-0">
                    <mat-icon class="mr-0">get_app</mat-icon>
                    <span>Quellcode-Paket</span>
                </a>
            </div>
        </div> 
    </div>
</div>


<!-- News -->
<div class="section container" id="anchor-news">
    <h1 class="d-inline-block">News</h1>
    <a class="float-right" routerLink="/news">Alle News ansehen</a>
    <div class="flex evenly-spaced wrap-mobile news-links" appWrappable>
        <div>
            <h3 class="icon-wrapper"><mat-icon>new_releases</mat-icon> Pressemitteilungen</h3>
            <div><i>20.09.2018:</i> <a target="_blank" href="http://files.openslides.org/press/2.3/PM-OpenSlides-2.3.pdf">OpenSlides 2.3 mit integrierter elektronischer Abstimmung</a></div>
        </div>
        <div>
            <h3 class="icon-wrapper"><mat-icon>dashboard</mat-icon> Artikel und Publikationen</h3>
            <div><i>05.02.2019:</i> <a routerLink="/news/dgb-bundeskongress" >Erfolgreiche Digitalisierung: DGB-Bundeskongress mit OpenSlides</a></div>
        </div>
    </div>
</div>

<!-- Newsletter -->
<div class="section container">
    <h1 id="anchor-newsletter">Newsletter</h1>
    <p>
        Sie wollen immer auf dem neuesten Stand bleiben? Tragen Sie sich jetzt in unseren Verteiler ein:
        <tbd>(TODO: abschicken und verarbeiten)</tbd>
    </p>
    <div fxLayout="row" fxLayout.xs="row wrap" fxLayoutGap="20px" class="valign-wrapper">
        <mat-form-field fxFlex.gt-xs="80%" fxFlexFill>
            <input matInput type="text" placeholder="E-Mail-Adresse">
        </mat-form-field>
        <div fxFlex.gt-xs="20%">
            <button mat-flat-button class="os-button full-width">Absenden</button>
        </div>
    </div>
</div>

</div>