@import '../../vars.scss';

.full-width-img-wrapper {
    position: relative;
    overflow: hidden;

    img.full-width-img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    @media (max-width: $breakpoint-xs-down) {
        h1 {
            font-size: 40px;
        }
    }
}

p {
    line-height: 1.5;
}

.milky-bg {
    padding: 18px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 1);
}

.bottom-banner {
    font-family: 'Fira Sans Condensed';
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 25px;
    box-sizing: border-box;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;

    strong {
        font-weight: 500;
    }

    div {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .banner-text {
        font-size: 1.15em;
    }

    @media (max-width: $breakpoint-md-down) {
        background-color: #ea0303;

        .inner-banner-container {
            flex-wrap: wrap;
        }
    }

    @media (min-width: $breakpoint-md-up) {
        transform: translateY(-100%);
    }
}

.main-paragraph {
    z-index: 998;
    color: #fff;

    h1 {
        font-weight: bold;
        margin-bottom: 0.67rem;
    }
    p {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
}

.hosting-logo {
    width: 80px;
    height: 67px;
}

.section {
    margin-top: 4rem;
    margin-bottom: 4rem;

    &.big {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    &.gigantic {
        margin-top: 16rem;
        margin-bottom: 16rem;
    }

    &.blue-upwards {
        background-color: $light-blue;
        margin-top: -8rem;
        padding-top: 14rem;
        margin-bottom: 12rem;

        .container {
            margin-bottom: -4rem;
        }
    }
}

#puzzle-container {
    margin-bottom: 8rem;

    h1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.blue-container {
    background-color: $os-active-blue;
    padding: 4rem 0;
    color: #fff;
}

.reference-container {
    padding: 8px 12px;

    div {
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        background-color: #fff;
    }
}

.blue-strip {
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
    background-color: $light-blue;
    z-index: -1;
}

.float-right {
    float: right;
}

.d-inline-block {
    display: inline-block;
}

.news-links a {
    font-weight: 400;
    display: block;
    margin-top: 3px;
    margin-bottom: 12px;
    margin-left: 0px;
}

.github-button {
    background-color: #fff;
    color: #000;
    margin-right: 10px;
}

.flex-center {
    margin-left: auto;
    margin-right: auto;
}

.hosting-container {
    background-color: $os-blue;
    color: #fff;
    // border-radius: 10px;
    padding: 25px;
}

.open-source-container {
    background-color: $os-grey;
    color: #fff;
    // border-radius: 10px;
    padding: 25px;
}

img.screenshot {
    width: 100%;
    box-shadow: 0 0 5px 1px rgba(50, 120, 150, 0.5);
}

.denser-paragraphs p {
    line-height: 1.2;
}
.center-headings {
    p {
        margin-top: 0;
    }
    h2 {
        margin: 0;
        height: 2.8em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.icon-as-img-md {
    flex-grow: 1;
    margin-bottom: -20px;

    mat-icon {
        font-size: 120px;
        width: 120px;
        height: 120px;
    }
}

.icon-as-img-sm {
    flex-grow: 1;
    margin-bottom: -20px;

    mat-icon {
        font-size: 60px;
        width: 60px;
        height: 60px;
    }
}

/* colors */
.grey {
    color: rgba(0, 0, 0, 0.54);
}
.os-blue {
    color: $os-blue;
}

.inline-logo {
    height: 20px;
    margin-right: 8px;
}

// wrapper for iframe for youtube video (16:9)
.iframe-wrapper-wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    .iframe-wrapper {
        position: relative;
        width: 100%;
        max-width: 600px;
        height: 0;
        padding-top: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.quote-slideshow ::ng-deep {
    .slideshow-container {
        // box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);

        .caption {
            height: 100%;
            box-sizing: border-box;

            .quote-container {
                padding-left: 35px;
                padding-right: 35px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                h1 {
                    @media (max-width: $breakpoint-xl-down) {
                        font-size: 38px;
                    }
                    @media (max-width: $breakpoint-md-down) {
                        font-size: 30px;
                    }
                    @media (max-width: 464px) {
                        font-size: 26px;
                    }
                    @media (max-width: 372px) {
                        font-size: 22px;
                    }
                }
            }
        }

        .arrow-container .arrow {
            border-color: $os-active-blue !important;
        }
    }
}

@media (max-width: $breakpoint-md-down) {
    .switch-flex-order {
        order: 2;

        & + .switch-flex-order {
            order: 1;
        }
    }
}

@media (max-width: $breakpoint-xl-down) {
    .section.blue-upwards {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: initial;
        margin-bottom: initial;

        .container {
            margin-bottom: initial;
        }
    }
}

@media (min-width: $breakpoint-md-up) and (max-width: $breakpoint-xl-down) {
    .margin-bottom-md {
        margin-bottom: 2em;
    }
}
