[mat-menu-item] {
    text-transform: uppercase;
    width: auto;
}

.login-btn {
    background-color: #2699fb;
    color: #fff;
    border-radius: 4px;
    padding: 0px 16px;
    margin: 4px 5px;
    height: 40px;
    line-height: 40px;

    &:hover {
        background-color: #057ae1;
    }
}

.active {
    color: #2699fb;
}
