<div class="container main-container">
    <h2 class="mb-1" translate>
        Choose a hosting package that fits your assembly size:
    </h2>
    <div class="flex evenly-spaced wrap-tablet mb-0" appWrappable wrapMargin="2rem">
        <div class="price-col grey">
            <div class="price-col-header">
                <h2>{{ 'Meeting' | translate }}</h2>
                <p>
                    <span translate>max.</span> <b>&nbsp;50&nbsp;</b> <span translate>participants</span>
                </p>
            </div>
            <div class="price-col-body">
                <div class="price-col-price">
                    <h1>50 €</h1>
                    <small translate>plus VAT</small>
                    <p translate>per month/event</p>
                </div>
                <mat-divider></mat-divider>
                <div class="text-center">
                    <a routerLink="/order" [queryParams]="{package: 'meeting'}" mat-flat-button class="os-button filled bordered grey">
                        <span translate>Order now</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="price-col blue">
            <div class="price-col-header ">
                <h2>{{ 'Conference' | translate }}</h2>
                <p>
                    <span translate>max.</span> <b>&nbsp;500&nbsp;</b> <span translate>participants</span>
                </p>
            </div>
            <div class="price-col-body">
                <div class="price-col-price">
                    <h1>100 €</h1>
                    <small translate>plus VAT</small>
                    <p translate>per month/event</p>
                </div>
                <mat-divider></mat-divider>
                <div class="text-center">
                    <a routerLink="/order" [queryParams]="{package: 'conference'}" mat-flat-button class="os-button filled bordered blue">
                        <span translate>Order now</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="price-col grey">
            <div class="price-col-header">
                <h2>{{ 'Congress' | translate }}</h2>
                <p>
                    <span translate>max.</span> <b>&nbsp;1.000&nbsp;</b> <span translate>participants</span>
                </p>
            </div>
            <div class="price-col-body">
                <div class="price-col-price">
                    <h1>200 €</h1>
                    <small translate>plus VAT</small>
                    <p translate>per month/event</p>
                </div>
                <mat-divider></mat-divider>
                <div class="text-center">
                    <a routerLink="/order" [queryParams]="{package: 'congress'}" mat-flat-button class="os-button filled bordered grey">
                        <span translate>Order now</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p>
        <small>
            {{ 'Minimum term of 3 month.' | translate }}
            {{ 'All prices plus VAT.' | translate }}
            {{ '5% discount when paying 12 months in advance.' | translate }}
        </small>
    </p>

    <div class="mt-2 mb-2">
        <span translate>You want to install OpenSlides on your own server?</span>
        <span>&nbsp;<a class="inline" routerLink="/" fragment="getting-started" translate>Learn more ...</a></span>
    </div>

    <div class="mt-1">
        <b translate>For all hosting packages we offer the following services:</b>
    </div>
    <mat-list fxLayout="row" class="better-list wrap-mobile mt-0 mb-1">
        <div>
            <mat-list-item><mat-icon matListIcon>check</mat-icon> <span translate>continuous updates</span></mat-list-item>
            <mat-list-item><mat-icon matListIcon>check</mat-icon> <span translate>sending of invitation emails</span></mat-list-item>
            <mat-list-item><mat-icon matListIcon>check</mat-icon> <span translate>individual support at cost (125 € / hour, half-hourly billing)</span></mat-list-item>
        </div>
        <div>
            <mat-list-item><mat-icon matListIcon>check</mat-icon> <span translate>secure connection: HTTPS with Let's Encrypt certificates</span></mat-list-item>
            <mat-list-item><mat-icon matListIcon>check</mat-icon> <span translate>secure data: Completion of a contract for data processing</span></mat-list-item>
            <mat-list-item><mat-icon matListIcon>check</mat-icon> <span translate>secure operation: every event runs as an isolated OpenSlides instance with its own database</span></mat-list-item>
        </div>
    </mat-list>

    <div class="mt-1">
        <p><b translate>Additional features:</b></p>
        <p>
            <b>» Single Sign-On via SAML (50 € <span translate>per month</span>)</b> ·
            <span translate>use existing member accounts for login in OpenSlides</span>
        </p>
        <p>
            <b>» eVoting (<span translate>in development, for v3.2</span>)</b> ·
            <span translate>integrated electronic voting for motions and elections</span>
        </p>
    </div>

</div>