@import '../../vars.scss';

.price-col {
    font-size: 1.01em;
    display: flex;
    flex-direction: column;
    width: 100%;

    &.single {
        .price-col-header {
            background-color: $os-grey;
        }
        .price-col-body .price-col-price {
            color: $os-grey;
        }
    }

    &.basic {
        .price-col-header {
            background-color: $os-blue;
        }
        .price-col-body .price-col-price {
            color: $os-blue;
        }
    }

    &.enterprise {
        .price-col-header {
            background-color: $os-turquoise;
        }
        .price-col-body .price-col-price {
            color: $os-turquoise;
        }
    }

    @media (min-width: $breakpoint-md-up) {
        width: 33%;
    }

    .price-col-header {
        color: #fff;
        padding: 1.5rem 2rem;
        text-align: center;
        height: 150px;
        box-sizing: border-box;

        h2 {
            margin-top: 0;
            margin-bottom: 1rem;
            font-weight: bold;
            font-size: 2em;
        }

        p {
            margin-bottom: 0;
            font-size: 18px;
        }
    }

    .price-col-body {
        padding: 1.5rem;
        border: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .price-col-price {
            text-align: center;

            h1 {
                font-weight: bold;
            }
        }

        mat-divider {
            margin: 25px 0;
        }

        mat-list {
            padding-top: 0;
            flex-grow: 1;

            mat-list-item {
                margin: 5px 0;

                mat-icon {
                    margin-right: 5px;
                }
            }
        }
    }
}
