@import '../../vars.scss';

.main-container {
    font-family: 'Fira Sans Condensed';
}

.align-baseline.mat-list-base .mat-list-item .mat-list-item-content {
    align-items: baseline !important;
}

.price-col {
    display: flex;
    flex-direction: column;
    width: 100%;

    &.grey {
        .price-col-header {
            background-color: $os-grey;
        }
        .price-col-body .price-col-price {
            color: $os-grey;
        }
    }

    &.blue {
        .price-col-header {
            background-color: $os-blue;
        }
        .price-col-body .price-col-price {
            color: $os-blue;
        }
    }

    @media (min-width: $breakpoint-md-up) {
        width: 30%;
    }

    .price-col-header {
        color: #fff;
        padding: 20px 10px 10px 10px;
        text-align: center;
        box-sizing: border-box;

        h2 {
            margin: 0;
            font-weight: bold;
            font-size: 2em;
        }

        p {
            margin: 0;
            font-size: 16px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .price-col-body {
        padding-bottom: 1.5em;
        border: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .price-col-price {
            text-align: center;

            h1 {
                font-weight: bold;
                margin-bottom: 5px;
                small {
                    font-size: 16px;
                    font-weight: 300;
                }
            }

            .description {
                text-align: left;
                padding-left: 20px;

                ul.check li::before {
                    content: '✔ ';
                    font-weight: 400;
                    margin-left: -15px;
                }

                ul.euro li::before {
                    content: '€ ';
                    font-weight: 400;
                    margin-left: -15px;
                }
                li.empty::before {
                    content: '';
                    font-weight: 400;
                    margin-left: -15px;
                }
            }
        }

        mat-divider {
            margin: 25px 0;
        }
    }
}

ul li {
    list-style-type: none;
}
ul.arrow li::before {
    content: '» ';
    font-weight: 400;
    margin-left: -15px;
}
