<div class="container main-container">
    <h2 class="mb-1" translate>
        Choose a hosting package that fits your assembly size:
    </h2>
    <div class="flex evenly-spaced wrap-tablet mb-0" appWrappable wrapMargin="2rem">
        <div class="price-col single">
            <div class="price-col-header">
                <h2 translate>Single</h2>
                <p translate>
                    only for administrative purposes<br>no participant access
                </p>
            </div>
            <div class="price-col-body">
                <div class="price-col-price">
                    <h1>19 €</h1>
                    <span><span translate>per month/event</span>*</span>
                </div>
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item><mat-icon matListIcon>check</mat-icon><span translate>max.</span> <b>&nbsp;5&nbsp;</b> <span translate>users</span></mat-list-item>
                    <mat-list-item><mat-icon matListIcon>check</mat-icon><span><span translate>Standard domain </span><span>*.openslides.com </span></span></mat-list-item>
                </mat-list>
                <mat-divider></mat-divider>
                <div class="text-center">
                    <a routerLink="/order" [queryParams]="{tariff: 'single'}" mat-flat-button class="os-button filled bordered grey">
                        <span translate>Order now</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="price-col basic">
            <div class="price-col-header ">
                <h2 translate>Basic</h2>
                <p translate>
                    for events with <b>low</b> digital usage
                </p>
            </div>
            <div class="price-col-body">
                <div class="price-col-price">
                    <h1>49 €</h1>
                    <span><span translate>per month/event</span>*</span>
                </div>
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item><mat-icon matListIcon>check</mat-icon><span translate>max.</span> <b>&nbsp;50&nbsp;</b> <span translate>users</span></mat-list-item>
                    <mat-list-item><mat-icon matListIcon>check</mat-icon><span translate>custom domain possible</span></mat-list-item>
                    <mat-list-item><mat-icon matListIcon>check</mat-icon><span translate>Plugin extension possible</span></mat-list-item>
                </mat-list>
                <mat-divider></mat-divider>
                <div class="text-center">
                    <a routerLink="/order" [queryParams]="{tariff: 'basic'}" mat-flat-button class="os-button filled bordered blue">
                        <span translate>Order now</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="price-col enterprise">
            <div class="price-col-header">
                <h2 translate>Enterprise</h2>
                <p translate>
                    for events with <b>high</b> digital usage
                </p>
            </div>
            <div class="price-col-body">
                <div class="price-col-price">
                    <h1>99 €</h1>
                    <span><span translate>per month/event</span>*</span>
                </div>
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item><mat-icon matListIcon>check</mat-icon><span translate>max.</span> <b>&nbsp;500&nbsp;</b> <span translate>users</span></mat-list-item>
                    <mat-list-item><mat-icon matListIcon>check</mat-icon><span translate>custom domain possible</span></mat-list-item>
                    <mat-list-item><mat-icon matListIcon>check</mat-icon><span translate>plugin extension possible</span></mat-list-item>
                </mat-list>
                <mat-divider></mat-divider>
                <div class="text-center">
                    <a routerLink="/order" [queryParams]="{tariff: 'enterprise'}" mat-flat-button class="os-button filled bordered">
                        <span translate>Order now</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <i translate>* plus 49 € one-off installation payment</i>
    <div class="mt-1">
        <b translate>For all hosting packages we offer the following services:</b>
    </div>
    <mat-list fxLayout="row" class="wrap-mobile mt-0 mb-1">
        <div>
            <mat-list-item><mat-icon matListIcon>check</mat-icon> <span translate>frequent updates</span></mat-list-item>
            <mat-list-item><mat-icon matListIcon>check</mat-icon> <span translate>Email dispatch of invitations possible</span></mat-list-item>
            <mat-list-item><mat-icon matListIcon>check</mat-icon> individual support by expenditure (125 € / hour, quarter-hourly billing)</mat-list-item>
        </div>
        <div>
            <mat-list-item><mat-icon matListIcon>check</mat-icon> <span translate>secure connection: HTTPS with Let's-Encrypt certificates</span></mat-list-item>
            <mat-list-item><mat-icon matListIcon>check</mat-icon> <span translate>secure data: acquisition of a contract for data processing</span></mat-list-item>
            <mat-list-item><mat-icon matListIcon>check</mat-icon> <span translate>secure business: every event runs as an isolated OpenSlides instance with its own database</span></mat-list-item>
        </div>
    </mat-list>
    <div class="mt-1" translate><span translate>You want to host OpenSlides own your own server? Take a look at our</span><span>&nbsp;</span><a class="inline" routerLink="/" fragment="anchor-getting-started" translate>selfhosted section</a>.</div>
    <div class="mt-1" translate>10% discount when paying 12 months in advance.</div>
    <div class="mt-2"><i translate>All prices are VAT exclusive.</i></div>
</div>