<header>
    <mat-toolbar>
        <div class="container menu-container valign-wrapper wrap-mobile">
            <a routerLink="/" class="valign-wrapper">
                <img class="header-logo mr-0" src="assets/img/logos/openslides-logo.svg">
            </a>
            <span class="fill-remaining-space"></span>
            <app-main-menu class="flex hide-lg-down"></app-main-menu>
            <div class="valign-wrapper">
                <button class="hide-lg-up menu-button" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
</header>
<mat-menu xPosition="before" #menu="matMenu" id="main-menu">
    <app-main-menu></app-main-menu>
</mat-menu>

<div class="content-container" lang="{{ languageService.getCurrentLanguage() }}">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="blue-row">
        <div class="container" id="contact">
            <ng-container>
                <div class="contact-div">
                    <h1 translate>Treten Sie mit uns in Kontakt</h1>
                    <p class="margined" translate>Sollten Sie Fragen zu OpenSlides haben oder eine persönliche Beratung wünschen – wir unterstützen Sie gern.</p>
                    <div class="mt-1"></div>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutAlign="space-between" appWrappable
                    wrapMarginY="35px">
                    <div fxFlex="27" fxFlex.lt-md="100%" class="text-left">
                        <b translate>Allgemeine Anfragen</b><br>
                        <a href="mailto:info@openslides.com" class="valign-wrapper">
                            <mat-icon>mail_outline</mat-icon>&nbsp;&nbsp;info@openslides.com
                        </a>
                        <br>
                        <b translate>Technischer Kundensupport</b><br>
                        <a href="mailto:support@openslides.com" class="valign-wrapper">
                            <mat-icon>mail_outline</mat-icon>&nbsp;&nbsp;support@openslides.com
                        </a>
                    </div>
                    <div fxFlex="33" fxFlex.lt-md="100%" fxFlexOffset.gt-sm="9" class="text-left flex col">
                        <b translate>Beratung und individuelle Servicedienstleistungen</b>
                        Intevation GmbH<br>
                        Neuer Graben 17<br>
                        49074 Osnabrück<br>
                        <br>
                        <a href="callto:+495413350850" fxFlex.lt-sm="100%" class="valign-wrapper">
                            <mat-icon class="mr-0">phone</mat-icon>+49 541 335 085-0
                        </a>
                    </div>
                    <div fxFlex="17" fxFlexOffset.gt-sm="9">
                        <a href="https://www.github.com/OpenSlides/OpenSlides" target="_blank" rel="noreferrer" class="valign-wrapper">
                            <img class="mr-0 logo-sm" src="assets/img/logos/github_white.png" alt="GitHub"> GitHub
                        </a>
                        <br>
                        <a href="https://twitter.com/openslides" target="_blank" rel="noreferrer" class="valign-wrapper">
                            <img class="mr-0 logo-sm" src="assets/img/logos/twitter_white.png" alt="Twitter"> Twitter
                        </a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="last-row">
        <span translate>OpenSlides ist Freie Software, lizenziert unter MIT.</span><br>
        <span>&copy; 2011-{{ currentYear }} <span translate>OpenSlides-Team</span></span>
        <p>
            <a routerLink="./privacy" translate>Datenschutzerklärung</a> ·
            <a routerLink="./legalnotice" translate>Impressum</a>
        </p>
    </div>
</footer>