<header>
    <mat-toolbar>
        <div class="container menu-container valign-wrapper wrap-mobile">
            <a routerLink="/" class="valign-wrapper">
                <img class="header-logo mr-0" src="assets/img/logos/openslides-logo.svg">
            </a>
            <span class="fill-remaining-space"></span>
            <app-main-menu class="flex hide-lg-down"></app-main-menu>
            <div class="valign-wrapper">
                <button class="hide-lg-up menu-button" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
</header>
<mat-menu xPosition="before" #menu="matMenu" id="main-menu">
    <app-main-menu></app-main-menu>
</mat-menu>

<div class="content-container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="blue-row">
        <div class="container" id="anchor-contact">
            <ng-container>
                <div class="contact-div">
                    <h1 translate>Get in touch with us</h1>
                    <p class="margined" translate>We gladly assist you in any questions about OpenSlides or offer a personal consultation.</p>
                    <div class="mt-1"></div>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutAlign="space-between" appWrappable
                    wrapMarginY="35px">
                    <div fxFlex="27" fxFlex.lt-md="100%" class="text-left">
                        <b translate>General inquiries</b><br>
                        <a href="mailto:info@openslides.com" class="valign-wrapper">
                            <mat-icon>mail_outline</mat-icon>&nbsp;&nbsp;info@openslides.com
                        </a>
                        <br>
                        <b translate>Hosting</b><br>
                        <a href="mailto:hosting@openslides.com" class="valign-wrapper">
                            <mat-icon>mail_outline</mat-icon>&nbsp;&nbsp;hosting@openslides.com
                        </a>
                        <br>
                        <b translate>Technical support</b><br>
                        <a href="mailto:suppport@openslides.com" class="valign-wrapper">
                            <mat-icon>mail_outline</mat-icon>&nbsp;&nbsp;support@openslides.com
                        </a>
                    </div>
                    <div fxFlex="33" fxFlex.lt-md="100%" fxFlexOffset.gt-sm="9" class="text-left flex col">
                        <b translate>Your contact person for consulting and individual services</b>
                        <br>
                        Emanuel Schütze<br>
                        Intevation GmbH<br>
                        Neuer Graben 17 · 49074 Osnabrück<br>
                        <br>
                        <a href="mailto:emanuel.schuetze@intevation.de" fxFlex.lt-sm="100%" class="valign-wrapper">
                            <mat-icon class="mr-0">mail_outline</mat-icon><span>emanuel.schuetze<wbr>@openslides.com</span>
                        </a><br>
                        <a href="callto:+49541335083746" fxFlex.lt-sm="100%" class="valign-wrapper">
                            <mat-icon class="mr-0">phone</mat-icon>+49 541 335083-746
                        </a>
                    </div>
                    <div fxFlex="17" fxFlexOffset.gt-sm="9">
                        <a href="https://www.github.com/OpenSlides/OpenSlides" target="_blank" class="valign-wrapper">
                            <img class="mr-0 logo-sm" src="assets/img/logos/github_white.png" alt="GitHub"> GitHub
                        </a>
                        <br>
                        <a href="https://twitter.com/openslides" target="_blank" class="valign-wrapper">
                            <img class="mr-0 logo-sm" src="assets/img/logos/twitter_white.png" alt="Twitter"> Twitter
                        </a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="last-row">
        <span translate>OpenSlides is Free Software, licensed under MIT.</span><br>
        <span>&copy; 2011-{{ currentYear }} <span translate>OpenSlides team</span></span>
        <p>
            <a routerLink="/privacy" translate>Privacy policy</a> ·
            <a routerLink="/legalnotice" translate>Legal notice</a>
        </p>
    </div>
</footer>