header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);

    mat-toolbar {
        background-color: rgba(255,255,255,0.95);
    }

    .header-logo {
        height: 35px;
    }
    
    span.title {
        font: bold 35px/48px Arial,Helvetica,sans-serif;
        margin-right: 30px;
    }
}

footer.footer {
    text-align: center;

    .blue-row {
        background-color: #2699fb;
        padding: 70px 0;
        color: #fff;

        .contact-div {
            max-width: 580px;
            margin-left: auto;
            margin-right: auto;

            h1 {
                font-size: 45px;
            }
        }

        mat-divider {
            margin: 60px 0;
            border-color: #fff;
        }

        .bottom-footer {
            .divider {
                margin: 0 12px;
            }

            .logo-container {
                flex-grow: 1;
                justify-content: flex-end;
            }
        }
    }
    
    .logo {
        height: 32px;
    }

    .last-row {
        color: #999;
        padding: 40px 10px;
    }
}