<div class="container main-container">
    <h1>Impressum</h1>
    <p>
        Verantwortlich für den Inhalt dieser Seiten in Vertretung für die OpenSlides-Initiative:
        <br><br>
        Emanuel Schütze<br>
        c/o Intevation GmbH<br>
        Neuer Graben 17<br>
        D-49074 Osnabrück<br>
        <a href="mailto:emanuel.schuetze@intevation.de" class="valign-wrapper">
            <mat-icon class="mr-0">mail_outline</mat-icon>
            <span>emanuel.schuetze@intevation.de</span>
        </a>
        <a href="callto:+49541335083746" class="valign-wrapper">
            <mat-icon class="mr-0">phone</mat-icon>
            <span>+49-541-335083-746</span>
        </a>
        <br>
        Entwicklung und Redaktion: Emanuel Schütze, Joshua Sangmeister
    </p>
</div>