<div class="container main-container">
    <h1 translate>Legal notice</h1>
    <p>
        <span translate>Responsible for the content of these sites in representation of the OpenSlides initiative:</span>
        <br><br>
        Emanuel Schütze<br>
        c/o Intevation GmbH<br>
        Neuer Graben 17<br>
        D-49074 Osnabrück<br>
        <a href="mailto:emanuel.schuetze@openslides.com" class="valign-wrapper">
            <mat-icon class="mr-0">mail_outline</mat-icon>
            <span>emanuel.schuetze@openslides.com</span>
        </a>
        <a href="callto:+495413350850" class="valign-wrapper">
            <mat-icon class="mr-0">phone</mat-icon>
            <span>+49-541-335 085-0</span>
        </a>
        <br>
        <span translate>Development and editing:</span> Emanuel Schütze, Joshua Sangmeister
    </p>
</div>