_{{ _("Hostingauswahl") }}
{{ _("Hostingpaket") }}: {{ package_str }}
{{ _("Hostinglaufzeit") }}: {{ running_time_str }}
{{ _("Wunschdomain") }}: https://{{ domain }}.openslides.com/
{{ _("Zusatzfunktionen") }}: {{ services_str }}

_{{ _("Veranstaltungsdetails") }}
{{ _("Veranstaltungsname") }}: {{ event_name }}
{{ _("Veranstaltungsort") }}: {{ event_location }}
{{ _("Veranstaltungszeitraum") }}: {{ event_date }}
{{ _("Erwartete Teilnehmeranzahl") }}: {{ expected_users }}

_{{ _("Ansprechpartner") }}
{{ _("Veranstalter") }}: {{ organisation }}
{{ _("Name") }}: {{ name }}
{{ _("E-Mail") }}: {{ email }}
{{ _("Telefon") }}: {{ phone }}

_{{ _("Rechnungsadresse") }}
{{ billing_address }}

_{{ _("Weitere Anmerkungen") }}
{{ comment }}
