_{{ _("Hostingauswahl") }}
{{ _("Hostingpaket") }}: {{ package_str }}
{{ _("Hostinglaufzeit") }}: {{ running_time_str }}
{{ _("Wunschdomain") }}: {% if domain %}https://{{ domain }}.openslides.com/{% else %}-{% endif %}
{{ _("Zusatzfunktionen") }}: {% if extra_functions_str %}{{ extra_functions_str }}{% else %}{{ _("keine") }}{% endif %}

_{{ _("Veranstaltungsdetails") }}
{{ _("Veranstaltungsname") }}: {{ event_name }}
{{ _("Veranstaltungsort") }}: {{ event_location }}
{{ _("Veranstaltungszeitraum") }}: {{ event_date }}
{{ _("Erwartete Teilnehmeranzahl") }}: {{ expected_users }}

_{{ _("Ansprechpartner") }}
{{ _("Veranstalter") }}: {{ organisation }}
{{ _("Name") }}: {{ name }}
{{ _("E-Mail") }}: {{ email }}
{{ _("Telefon") }}: {{ phone }}
{% if services_str %}
_{{ _("Services") }}
{{ services_str }}
{% endif %}
_{{ _("Rechnungsadresse") }}
{{ billing_address }}
{% if tax_id %}{{ _("Umsatzsteuer-ID") }}: {{ tax_id }}
{% endif %}
_{{ _("Weitere Anmerkungen") }}
{{ comment }}
