<div class="container main-container">
    <h1 translate>Privacy policy</h1>
    <p translate>
        OpenSlides speichert nur so viele personenbezogene Daten wie unbedingt nötig sind, um Besuchern Informationen und Dienste zuverlässig und sicher anbieten zu können.
    </p>
    <p translate>
        Eine Auswertung der Dienste-Protokolle erfolgt nur von uns selbst und auch nur, um mögliche Fehler, Einbruchsversuche oder technisches Verhalten der Server auf unseren Server zu analysieren.
    </p>
    <p translate>
        Eine Weitergabe von Teilen der erhobenen Daten erfolgt ausschließlich gemäß gesetzlicher Verpflichtung z.B. an Strafverfolgungs- oder Steuerbehörden.
    </p>
    <p translate>
        Nachfolgend wird genau aufgeschlüsselt, bei welcher Gelegenheit welche Daten wie lange gespeichert sind. Zudem wird beschrieben, welche Schritte erforderlich sind um Daten zu löschen.
    </p>

    <h2 translate>Cookies</h2>
    <p translate>
        Beim Besuch der Website werden keine Cookies gespeichert.
    </p>

    <h2 translate>Logfiles</h2>
    <p translate>
        Wenn Sie unsere Webseite besuchen, werden vom Webserver automatisch bestimmte Daten erhoben und in Logdateien gespeichert. Dabei handelt es sich um übliche Verbindungsinformationen, in etwa:
    </p>
    <ul>
        <li translate>IP-Adresse</li>
        <li translate>angefragte Webseite</li>
        <li translate>Einstiegswebseite (die Seite, über der Sie unsere Webseite zuerst aufgerufen haben)</li>
        <li translate>Datum und Uhrzeit der Anfrage</li>
        <li translate>übertragende Datenmenge</li>
        <li translate>User-Agent (Browsertyp und -version)</li>
    </ul>
    <p translate>
        Es erfolgt keine Kombination dieser Daten mit anderen Datenquellen. Wenn eine rechtswidrige Nutzung bekannt wird, werden diese Daten ggf. nachträglich überprüft.
    </p>

    <h2 translate>Online-Demo</h2>
    <p translate>
        Beim Besuch der OpenSlides-Online-Demo wird ein sogenanntes "Session-Cookie" angelegt. Dieses Cookie wird ausschließlich dazu verwendet, um auf der Website eingeloggt zu bleiben. Ein sogenanntes "Tracking Cookie" wird nicht verwendet. Die Demo-Datenbank wird täglich gelöscht und auf einen vordefinierten Stand mit Demodaten zurückgesetzt.
    </p>

    <h2 translate>Löschung von Daten</h2>
    <p translate>
        Daten werden nicht automatisch gelöscht. Um Ihre Informationen entfernen zu lassen, wenden Sie sich bitte an den Betreiber der Website (siehe Impressum).
    </p>
</div>