<div class="container main-container">
    <h1>Datenschutz</h1>
    <p>
        OpenSlides speichert nur so viele personenbezogene Daten wie unbedingt nötig sind, um Besuchern Informationen und Dienste zuverlässig und sicher anbieten zu können.
    </p>
    <p>
        Eine Auswertung der Dienste-Protokolle erfolgt nur von uns selbst und auch nur, um mögliche Fehler, Einbruchsversuche oder technisches Verhalten der Server auf unseren Server zu analysieren.
    </p>
    <p>
        Eine Weitergabe von Teilen der erhobenen Daten erfolgt ausschließlich gemäß gesetzlicher Verpflichtung z.B. an Strafverfolgungs- oder Steuerbehörden.
    </p>
    <p>
        Nachfolgend wird genau aufgeschlüsselt, bei welcher Gelegenheit welche Daten wie lange gespeichert sind. Zudem wird beschrieben, welche Schritte erforderlich sind um Daten zu löschen.
    </p>

    <h2>Cookies</h2>
    <p>
        Beim Besuch der Website werden keine Cookies gespeichert.
    </p>

    <h2>Logfiles</h2>
    <p>
        Wenn Sie unsere Webseite besuchen, werden vom Webserver automatisch bestimmte Daten erhoben und in Logdateien gespeichert. Dabei handelt es sich um übliche Verbindungsinformationen, in etwa:
    </p>
    <ul>
        <li>IP-Adresse</li>
        <li>angefragte Webseite</li>
        <li>Einstiegswebseite (die Seite, über der Sie unsere Webseite zuerst aufgerufen haben)</li>
        <li>Datum und Uhrzeit der Anfrage</li>
        <li>übertragende Datenmenge</li>
        <li>User-Agent (Browsertyp und -version)</li>
    </ul>
    <p>
        Es erfolgt keine Kombination dieser Daten mit anderen Datenquellen. Wenn eine rechtswidrige Nutzung bekannt wird, werden diese Daten ggf. nachträglich überprüft.
    </p>

    <h2>Online-Demo</h2>
    <p>
        Beim Besuch der OpenSlides-Online-Demo wird ein sogenanntes "Session-Cookie" angelegt. Dieses Cookie wird ausschließlich dazu verwendet, um auf der Website eingeloggt zu bleiben. Ein sogenanntes "Tracking Cookie" wird nicht verwendet. Die Demo-Datenbank wird täglich gelöscht und auf einen vordefinierten Stand mit Demodaten zurückgesetzt.
    </p>

    <h2>Löschung von Daten</h2>
    <p>
        Daten werden nicht automatisch gelöscht. Um Ihre Informationen entfernen zu lassen, wenden Sie sich bitte an den Betreiber der Website (siehe Impressum).
    </p>
</div>