<div class="container main-container blue-links">
    <h1 translate>Notfall</h1>
    <p translate>Am Wochenende und außerhalb der üblichen Geschäftszeiten zwischen 9:00 Uhr und 18:00 Uhr ist unsere Zentrale nicht besetzt.</p>
    <p translate>Wenn Sie keine Rufbereitschaft für Ihre Veranstaltung gebucht haben, können wir <b>KEINEN garantierten</b> Sofort-Support gewährleisten.</p>
    <div>
        <span translate>In dringenden Fällen gehen sie bitte wie folgt vor:</span>
        <ol>
            <li>
                <span translate>Schauen sie in den FAQ und Stichwortsuche ob sie ggf. dort Ansätze zur selbstständigen Lösung finden:</span>
                &nbsp;<a href="https://support.openslides.com/help/de-de">https://support.openslides.com/help/de-de</a>
            </li>
            <li>
                <span translate translateHtml>Schreiben sie eine E-Mail an <a href="mailto:notfall@openslides.com">notfall@openslides.com</a></span>
                <div class="mb-0"></div>
                <span translate>Bitte notieren sie einen möglichst konkreten Problembericht:</span>
                <ul>
                    <li><span translate>Bertreff</span>: Notfall</li>
                    <li><span translate>Instanz</span>: xxx.openslides.com</li>
                    <li><span translate>Ansprechpartner</span>:</li>
                    <li><span translate>Rückrufnummer</span>:</li>
                    <li>
                        <span translate>Dringlichkeit</span>:
                        <ol>
                            <li><span translate>kritisch: Veranstaltungsablauf ist blockiert, schnellstmögliche Hilfe erforderlich</span></li>
                            <li><span translate>dringend: Veranstaltungsablauf ist noch nicht blockert, sollte aber innerhalb x Stunden behoben werden</span></li>
                            <li><span translate>wichtig: Veranstaltungsablauf ist nicht blockiert, Problem sollte aber behoben werden und kann nicht bis zum nächsten Werktag warten</span></li>
                        </ol>
                    </li>
                    <li><span translate>Problembericht, ggf. mit Screenshot</span></li>
                </ul>
            </li>
            <li>
                <span translate>Bei Angelegenheiten der Priorität 1 wählen sie bitte zusätzlich folgende Nummer:</span>
                &nbsp;<a href="tel:0541-33508-520">0541-33508-520</a>
            </li>
        </ol>
    </div>
    <p translate>Wichtig: Wenn Sie keine Rufbereitschaft für Ihre Veranstaltung gebucht haben, können wir <b>KEINEN garantierten</b> Sofort-Support gewährleisten.</p>
    <p translate>Ungeplanter Support außerhalb der Geschäftszeiten wird wie folgt abgerechnet:</p>
    <p translate>Jede angefangene Stunde bei Nutzersupport per Mail oder Anruf über die o.g. Notfall-Kanäle berechnen wir am Wochenende und außerhalb der Kernarbeitszeiten von 18-9 Uhr mit 500 EUR/h.</p>
</div>
