/** Regular */
@font-face {
    font-family: Fira Sans;
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('assets/fonts/FiraSans-Light.ttf') format('ttf');
}

/** Italic */
@font-face {
    font-family: Fira Sans;
    font-style: italic;
    font-display: swap;
    font-weight: 300;
    src: url('assets/fonts/FiraSans-LightItalic.ttf') format('ttf');
}

/** Medium */
@font-face {
    font-family: Fira Sans;
    font-style: bold;
    font-display: swap;
    font-weight: 500;
    src: url('assets/fonts/fira-sans-latin-500.woff') format('woff');
}

/** Condensed Regular */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('assets/fonts/FiraSansCondensed-Light.ttf') format('ttf');
}


h1,
h2,
h3,
.mat-flat-button {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.mat-flat-button {
    font-family: 'Fira Sans', sans-serif;
}