@import './fonts.scss';
@import './vars.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;

    &.noscroll {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    color: inherit;
    
    &.inline {
        &:hover {
            text-decoration: underline;
        }
    }

    img, .mat-icon {
        text-decoration: none;
    }
}

.inline-links a {
    font-weight: 400;

    &:hover {
        text-decoration: underline;
    }
}

b, strong {
    font-weight: 400;
}

small {
    font-size: 16px;
}

h3 {
    font-weight: 500;
    margin-top: 30px;
}

li {
    padding-bottom: 10px;
}
p, li {
    line-height: 1.3;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.mat-list-base .mat-list-item {
    font-size: inherit;
}
.mat-list-item-content {
    align-items: normal !important;
    padding: 0 !important;
}

.os-button.mat-flat-button {
    color: $os-turquoise;
    border-radius: 0;
    padding: 3px 25px;

    &:not([disabled]) {
        border: 1px solid $os-turquoise;
    }

    &.transparent-btn {
        min-width: 200px;
        color: #fff;
        border: 0;
        font-size: inherit;
        padding: 8px 25px;

        &.blue {
            background-color: RGBA(50, 120, 150, 0.85);

            &:hover {
                background-color: rgb(50, 120, 150);
            }
        }

        &.green {
            background-color: RGBA(49, 169, 173, 0.85);

            &:hover {
                background-color: rgb(49, 169, 173);
            }
        }
    }
    
    &.filled {
        color: #fff;
        background-color: $os-turquoise;
        box-shadow: 1px 1px rgba(0,0,0,0.5);
        border: none;

        &.light-grey {
            background-color: $os-light-grey;

            &:hover {
                color: #fff;
                background-color: $os-turquoise;
            }
        }

        &.grey {
            background-color: $os-grey;

            &:hover {
                color: $os-grey;
            }
        }

        &.blue {
            background-color: $os-blue;

            &:hover {
                color: $os-blue;
            }
        }

        &.bordered {
            box-shadow: none;
            border: 1px solid $os-turquoise;

            &.soft:hover {
                color: #fff;
            }
    
            &.light-grey {
                border: 1px solid $os-light-grey;

                &.inverted {
                    &:not(:hover) {
                        color: $os-light-grey;
                    }
                    &:hover {
                        background-color: $os-light-grey;
                    }
                }
            }
    
            &.grey {
                border: 1px solid $os-grey;

                &.soft:hover {
                    background-color: rgba($os-grey, 0.7);
                }

                &.inverted {
                    &:not(:hover) {
                        color: $os-grey;
                    }
                    &:hover {
                        background-color: $os-grey;

                        &.soft {
                            color: $os-grey;
                            background-color: rgba($os-grey, 0.2);
                        }
                    }
                }
            }
    
            &.blue {
                border: 1px solid $os-blue;

                &.soft:hover {
                    background-color: rgba($os-blue, 0.7);
                }

                &.inverted {
                    &:not(:hover) {
                        color: $os-blue;
                    }
                    &:hover {
                        background-color: $os-blue;

                        &.soft {
                            color: $os-blue;
                            background-color: rgba($os-blue, 0.2);
                        }
                    }
                }
            }

            &.inverted {
                background-color: #fff;

                &:hover {
                    color: #fff;
                }
            }
        }

        &:hover {
            color: $os-turquoise;
            background-color: #fff;
        }
    }

    &:not(.filled):not(.transparent-btn):not([disabled]):hover {
        background-color: $os-turquoise;
        color: #fff;
    }
}

.wrappable {
    margin-top: -25px;

    & > * {
        margin-top: 25px;
    }
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.full-width {
    width: 100%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.flex {
    display: flex;

    &.force {
        display: flex !important;
    }

    &.col {
        flex-direction: column;
    }
}

.valign-wrapper {
    display: flex !important;

    &.col {
        justify-content: center;
    }
    &:not(.col) {
        align-items: center;
    }
}

.align

h1 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-weight: normal;
}

.mt-1 {
    margin-top: 30px !important;
}

.mt-2 {
    margin-top: 70px !important;
}

.mt-3 {
    margin-top: 110px !important;
}

.ml-0 {
    margin-left: 10px !important;
}

.ml-1 {
    margin-left: 30px !important;
}

.mr-0 {
    margin-right: 10px !important;
}

.mr-1 {
    margin-right: 30px !important;
}

.mb-0 {
    margin-bottom: 10px !important;
}

.mb-1 {
    margin-bottom: 30px !important;
}

.mb-2 {
    margin-bottom: 70px !important;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;

    &.flex {
        &:not(.col) {
            justify-content: center;
        }
        &.col {
            align-items: center;
        }
    }
}

.text-right {
    text-align: right;

    &.flex {
        &:not(.col) {
            justify-content: flex-end;
        }
        &.col {
            align-items: flex-end;
        }
    }
}

.lh-1 {
    line-height: 1;
}

.icon-wrapper {
    display: flex;

    &.col {
        justify-content: center;
    }
    &:not(.col) {
        align-items: center;
    }

    .icon {
        height: 20px;
        margin-right: 10px;
    }

    .mat-icon {
        margin-right: 10px;
    }
}

.text-right {
    text-align: right;

    &.flex {
        &:not(.col) {
            justify-content: flex-end;
        }
        &.col {
            align-items: flex-end;
        }
    }
}

.mat-list-base .mat-list-item {
    color: inherit;
    height: auto !important;
    text-align: left;
}

.mat-icon.inline {
    font-size: smaller;
    height: auto;
    width: auto;
}

.evenly-spaced > * {
    flex: 1;
}

.shaded {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.main-container {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;

    &.no-padding {
        padding-right: initial;
        padding-left: initial;
    }
}

.pos-rel {
    position: relative;
}

.screenshots-slideshow .slideshow-container {
    // padding-top: 63.3064516%;   // force correct aspect ratio on images, since auto height isnt possible (16:10)
    padding-top: 56.25%;   // force correct aspect ratio on images, since auto height isnt possible
    box-shadow: 0 0 5px 1px rgba(50, 120, 150, 0.5);
    height: auto !important;
}

.blue-links a, .blue-link {
    color: $os-active-blue;

    &:hover {
        color: $os-active-blue-darken;
    }
}

.white-links a, .white-link {
    color: #fff;
    text-decoration: underline;
}

.mat-list-base .mat-list-item .mat-list-item-content {
    align-items: flex-start !important;
    padding: 0 25px 7px 0 !important;
    font-size: 16px;

    .mat-list-icon {
        padding: 0;
        padding-right: 5px;
    }
}

@media (min-width: $breakpoint-sm-up) {
    .container {
        max-width: 540px;
    }

    .hide-sm-up {
        display: none !important;
    }
}

@media (min-width: $breakpoint-md-up) {
    .container {
        max-width: 720px;
    }

    .hide-md-up {
        display: none !important;
    }
}

@media (min-width: $breakpoint-lg-up) {
    .container {
        max-width: 960px;
    }
    .hide-lg-up {
        display: none !important;
    }
}

@media (min-width: $breakpoint-xl-up) {
    .container {
        max-width: 1140px;

        &.smaller {
            max-width: 1040px;
        }

        &.tiny {
            max-width: 940px;
        }
    }
}

@media (min-width: 1400px) {
    .container.bigger {
        max-width: 1340px;
    }
}

@media (max-width: $breakpoint-sm-down) {
    .hide-sm-down {
        display: none !important;
    }
}

@media (max-width: $breakpoint-md-down) {
    .wrap-mobile {
        flex-wrap: wrap;

        &.evenly-spaced > * {
            flex: auto;
        }
    }
    .center-mobile {
        text-align: center;

        &.flex {
            &:not(.col) {
                justify-content: center;
            }
            &.col {
                align-items: center;
            }
        }
    }

    .hide-md-down {
        display: none !important;
    }
}

@media (max-width: $breakpoint-lg-down) {
    .hide-lg-down {
        display: none !important;
    }
}

@media (max-width: $breakpoint-xl-down) {
    .hide-xl-down {
        display: none !important;
    }

    .wrap-tablet {
        flex-wrap: wrap;

        &.evenly-spaced > * {
            flex: auto;
        }
    }
}
