@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$breakpoint-sm-up: 576px;
$breakpoint-md-up: 768px;
$breakpoint-lg-up: 992px;
$breakpoint-xl-up: 1200px;
$breakpoint-sm-down: 575px;
$breakpoint-md-down: 767px;
$breakpoint-lg-down: 991px;
$breakpoint-xl-down: 1199px;

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: inherit;
}

tbd {
    display: inline-block;
    color: red;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.os-button.mat-flat-button {
    text-transform: uppercase;
    background-color: #2699fb;
    color: #fff;
    font-size: small;
    border: 1.5px solid transparent;

    &.white {
        background-color: #fff;
        color: #2699fb;
    }

    &.white-reversed {
        border: 1.5px solid #fff;
    }

    &.white-black {
        background-color: #fff;
        color: #000;
    }
}

.wrappable {
    margin-top: -25px;

    & > * {
        margin-top: 25px;
    }
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.flex {
    display: flex;

    &.force {
        display: flex !important;
    }

    &.col {
        flex-direction: column;
    }
}

.valign-wrapper {
    display: flex !important;

    &.col {
        justify-content: center;
    }
    &:not(.col) {
        align-items: center;
    }
}

h1 {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-weight: normal;
}

.mt-1 {
    margin-top: 30px !important;
}

.mt-2 {
    margin-top: 70px !important;
}

.ml-0 {
    margin-left: 10px !important;
}

.ml-1 {
    margin-left: 30px !important;
}

.mr-0 {
    margin-right: 10px !important;
}

.mr-1 {
    margin-right: 30px !important;
}

.mb-0 {
    margin-bottom: 10px !important;
}

.mb-1 {
    margin-bottom: 30px !important;
}

.mb-2 {
    margin-bottom: 70px !important;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;

    &.flex {
        &:not(.col) {
            justify-content: center;
        }
        &.col {
            align-items: center;
        }
    }
}

.icon-wrapper {
    display: flex;

    &.col {
        justify-content: center;
    }
    &:not(.col) {
        align-items: center;
    }

    .icon {
        height: 20px;
        margin-right: 10px;
    }

    .mat-icon {
        margin-right: 10px;
    }
}

.text-right {
    text-align: right;

    &.flex {
        &:not(.col) {
            justify-content: flex-end;
        }
        &.col {
            align-items: flex-end;
        }
    }
}

.mat-list-base .mat-list-item {
    color: inherit;
    height: auto !important;
    text-align: left;
}

.mat-icon.inline {
    font-size: smaller;
    height: auto;
    width: auto;
}

.evenly-spaced > * {
    flex: 1;
}

.shaded {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.main-container {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;

    &.no-padding {
        padding-right: initial;
        padding-left: initial;
    }
}

.pos-rel {
    position: relative;
}

.screenshots-slideshow .slideshow-container {
    padding-top: 63.3064516%;   // force correct aspect ratio on images, since auto height isnt possible
}

.blue-links a, .blue-link {
    color: #2699fb;

    &:hover {
        color: #057ae1;
    }
}

@media (min-width: $breakpoint-sm-up) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: $breakpoint-md-up) {
    .container {
        max-width: 720px;
    }

    .hide-md-up {
        display: none !important;
    }
}

@media (min-width: $breakpoint-xl-up) {
    .container {
        max-width: 960px;
    }
    .hide-xl-up {
        display: none !important;
    }
}

@media (min-width: $breakpoint-xl-up) {
    .container {
        max-width: 1140px;

        &.smaller {
            max-width: 1040px;
        }

        &.tiny {
            max-width: 940px;
        }
    }
}

@media (max-width: $breakpoint-md-down) {
    .wrap-mobile {
        flex-wrap: wrap;

        &.evenly-spaced > * {
            flex: auto;
        }
    }
    .center-mobile {
        text-align: center;

        &.flex {
            &:not(.col) {
                justify-content: center;
            }
            &.col {
                align-items: center;
            }
        }
    }

    .hide-md-down {
        display: none !important;
    }
}

@media (max-width: $breakpoint-xl-down) {
    .hide-xl-down {
        display: none !important;
    }

    .wrap-tablet {
        flex-wrap: wrap;

        &.evenly-spaced > * {
            flex: auto;
        }
    }
}
