$breakpoint-xs-up: 351px;
$breakpoint-sm-up: 576px;
$breakpoint-md-up: 768px;
$breakpoint-lg-up: 992px;
$breakpoint-xl-up: 1200px;
$breakpoint-xs-down: 350px;
$breakpoint-sm-down: 575px;
$breakpoint-md-down: 767px;
$breakpoint-lg-down: 991px;
$breakpoint-xl-down: 1199px;

$os-blue: #327896;
$os-turquoise: #31a9ad;
$os-grey: #7f7f7f;
$os-light-grey: #999;
$os-active-blue: #2699fb;
$os-active-blue-darken: #057ae1;
$light-blue: #bce0fd;