@import '../../vars.scss';

.mat-menu-item {
    text-transform: uppercase;
}

.active {
    color: $os-active-blue;
}

.submenu ::ng-deep .mat-select-value {
    max-width: none;
    width: auto;
    color: $os-active-blue;
}

slideshow {
    min-width: 50%;
}

@media (min-width: $breakpoint-lg-up) {
    .features-list {
        width: 33%;
    }
}
