<div class="container main-container">
    <div class="mb-1">
        <div class="text-right flex hide-xl-down">
            <a  mat-menu-item *ngFor="let route of featuresByRoute | keyvalue:originalOrder" [routerLink]="['/feature/' + route.key]"
                [ngClass]="router.url.endsWith('/' + route.key) ? 'active' : ''">
                {{ route.value.title | translate }}
            </a>
        </div>
        <mat-select class="submenu hide-xl-up" [value]="activeRoute">
            <mat-option *ngFor="let route of featuresByRoute | keyvalue:originalOrder" [routerLink]="['/feature/' + route.key]"
                [ngClass]="router.url.endsWith('/' + route.key) ? 'active' : ''" [value]="route.key">
                {{ route.value.title | translate }}
            </mat-option>
        </mat-select>
    </div>
    <h1 class="valign-wrapper title">
        <span>{{ currentFeature.title | translate }}</span>
    </h1>
    <p [innerHTML]="currentFeature.intro | translate "></p>
    <div class="flex wrap-tablet" [class.lightbox]="true">
        <mat-list class="mb-1 features-list">
            <mat-list-item *ngFor="let detail of currentFeature.details">
                <mat-icon matListIcon>arrow_right</mat-icon>
                {{ detail | translate }}
            </mat-list-item>
        </mat-list>
        <slideshow #slideshow class="screenshots-slideshow fill-remaining-space" [class.lightbox]="lightboxMode" [autoPlay]="false" autoPlayInterval="5000" [imageUrls]="currentImages" [showDots]="true" dotColor="#2699fb"></slideshow>
        <div class="overlay" (click)="toggleLightbox()" (window:keydown)="onKeyDown($event)"></div>
    </div>
</div>
