@import '../../vars.scss';

.mat-menu-item {
    text-transform: uppercase;
}

.active {
    color: $os-active-blue;
}

.submenu ::ng-deep .mat-select-value {
    max-width: none;
    width: auto;
    color: $os-active-blue;
}

.better-list.mat-list-base .mat-list-item .mat-list-item-content {
    align-items: flex-start;
    padding: 0 25px 7px 0;
    font-size: 17px;

    .mat-list-icon {
        padding: 0;
        padding-right: 5px;
    }
}
