.mat-menu-item {
    text-transform: uppercase;
}

// h1.title {
//     color: #2699fb;
// }

.active {
    color: #2699fb;
}

.submenu ::ng-deep .mat-select-value {
    max-width: none;
    width: auto;
    color: #2699fb;
}
